body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: white;
    position: relative;
}

#div-flex {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
}

.div-flex-item {
    width: 10%;
    height: 10vh;
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    animation: shrinkAndGrow infinite ease-in-out;
    z-index: -1;
}

@keyframes shrinkAndGrow {
  0% { transform: scale(1); }
  50% { transform: scale(0.9); background-color: black; }
  100% { transform: scale(1); }
}

.section-main {
    margin: 0 auto;
    padding: 10px;
    width: 50vw;
    height: 100vh;
    background-color: white;
    border: 1px solid blueviolet;
}

.div-text {
    margin: 10px;
    padding: 10px;
    z-index: 1;
}

.in-work {
    color: blueviolet;
    display: inline-block;
    animation: animeInWork 5s infinite;
}

@keyframes animeInWork {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(180deg); color: black; }
    100% { transform: rotate(360deg); }
}