body {
    margin: 0 auto;
    padding: 100px;
    background-color: bisque;
}

.in-work {
    color: blueviolet;
    display: inline-block;
    animation: animeInWork 5s infinite;
}

@keyframes animeInWork {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}